body {
    background: rgb(26,26,26);
    background: linear-gradient(60deg, rgba(26,26,26,1) 0%, rgba(57,57,57,1) 100%);
    text-align: center;
}

p {
    background: #EF4336;
    background: linear-gradient(to top right, #EF4336 0%, #FBAF40 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Arial;
    font-size: 4em;
    margin: 20px;
}

img {
    margin: 60px 0 30px 0;
    border-radius: 30px;
}

input {
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: Arial;
    text-align: center;
    font-size: 1.3em;
}

input:focus {
    border: solid 3px rgb(240,68,55);
    outline: none;
}

#check {
    transition: all 1s ease;
    background-color: #F6853C;
    color: white;
    width: 200px;
    font: bold;
}

#check:hover {
    background-color: #EF4236;
    cursor: pointer;
}