@font-face {
    font-family: 'rubiklight';
    src: url('rubik-variablefont_wght-webfont.woff2') format('woff2'),
         url('rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #292929;
    text-align: center;
}

p {
    background: #EF4336;
    background: linear-gradient(to right, #EF4336 0%, #FBAF40 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "rubiklight";
    font-weight: 900;
    font-size: 4em;
    margin: 5px;
}

img {
    margin: 60px 0 30px 0;
}

input {
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: "rubiklight";
    font-weight: 900;
    text-align: center;
    font-size: 1.3em;
}

input:focus {
    border: solid 3px #FBAF40;
    outline: none;
}

button {
    width: 60px;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    font-family: "rubiklight";
    font-weight: 900;
    text-align: center;
    font-size: 1.3em;
    background-color: #FBAF40;
}

button:focus {
    border: solid 3px #FBAF40;
    outline: none;
}

button:hover {
    cursor: pointer;
}

#check {
    transition: all 1s ease;
    background-color: #F6853C;
    color: white;
    width: 200px;
    font: bold;
}

#check:hover {
    background-color: #EF4236;
    cursor: pointer;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 500px;
    height: 10px;
    background: #FBAF40;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 50px;
}

#slider:hover {
    cursor: pointer;
    opacity: 1;
}

 #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #EF4336;
    border-radius: 50%;
 }