<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>VVeather App</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="https://i.ibb.co/jgc7V4n/logo2.png">
        <br>
        <p id="welc">{{welc}}</p>
        <div id="place_for_outcome"></div>
        <br>
        <input type="text" id="search">
        <br>
        <p>Choose a day</p>
        <br>
        <input type="range" min="0" max="4" value="0" step="1" id="slider">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
             $("#slider").mouseup(function(){
                var day = $(this).val();
                var text = $("#search").val();
                $("#welc").hide()
                $.ajax({
                    url: "/outcome",
                    type: "get",
                    data: {jsdata: day, jsdata1: text},
                    success: function(response) {
                        $("#place_for_outcome").html(response);
                    },
                    });
                });
        </script>
    </body>
</html>