<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Weather App</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="https://i.ibb.co/jgc7V4n/logo2.png">
        <br>
        <form action="outcome" method="post">
            {% for message in get_flashed_messages()%}
                <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="text" name="name_input">
            <br>
            <p>Choose a day</p>
            <input type="range" min="0" max="4" value="0" step="1" id="slider" name="slider_value">
            <br>
            <input type="submit" value="CHECK" id="check">
            <br>
        </form>
    </body>
</html>